@model eVotingClientApplication.Models.Contender

@{
    ViewData["Title"] = "AddContender";
}

<h1>AddContender</h1>

<h4>Contender</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddContender">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContenderName" class="control-label"></label>
                <input asp-for="ContenderName" class="form-control" />
                <span asp-validation-for="ContenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

