
@{
    ViewData["Title"] = "Success";
}

    <div class="container">
        @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "btn btn-primary" })
        <h1 class="display-3">Added Successfully</h1>
        @Html.ActionLink("Add Contender", "AddContender", "Admin", null, new { @class = "btn btn-primary" })
    </div>

