@using Microsoft.AspNetCore.Razor.Language.Intermediate

@{
    ViewData["Title"] = "Index";
}
@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "btn btn-primary" })
<h1>Welcome Voter</h1>
@Html.ActionLink("Vote", "Contenders", "Voter", null, new { @class = "btn btn-primary" })

